[Unit]
Description=HoleTab new tab page
After=network.target

[Service]
Type=simple
ExecStart=%h/.local/bin/holetab --config %h/.config/holetab/config.toml
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
